<%= form_for [@gossip,@comment] do |f| %>

  <% if @comment.errors.any? %>
  
  <%end%>
  <div class="field">
    <%= f.label :Content %><br>
    <%= f.text_field :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
