<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Salut! <span style="font-size:100px">&#128540;</span></h1><br><br>
      <p>C'est un site comme facebook (en moins ambitieux) où les gens racontent des potins et peuvent réagir aux potins des autres ! 
      J'espère qu'il te plaira <span>&#128514;</span>
      </p>
      
    </div>
  </div>


<div class="container-fluid p-4 m-4">
  

  <div class="row p-3 m-4">
    <% @users.each do |u|%>

    <div class="card col-sm-12 col-md-4 col-lg-2 m-3 p-3" style="width: 18rem;">
      <div class="card-header">
        <%=u.first_name%>
      </div>
      <div class="card-body">
        <%u.gossips.each do |g|%>
        - <%= link_to g.title, gossip_path(g.id), :class => "card-text"%><br><br>

        <%end%>
        <%if u.id == sess_id%>

        <br><%= link_to 'Créer un gossip', new_gossip_path, :class => "btn btn-primary"%>
        <%end%>
      </div>
    </div>


    <%end%>

  </div>
</div>

