<div class="container-fluid mt-4">
  <h1><%=@gossip.title%></h1>
  <div class="container-fluid">
    <div class="pt-2">
      <h3>Author : <%= link_to "#{@gossip.user.first_name}", user_name_path(@gossip.user.first_name) %></h3>
    </div>
    <div class="pt-3">
      <p>Content: <%=@gossip.content%></p>
      <p>Creation date: <%=@gossip.created_at%></p>
    </div>
  </div>
</div>