<div class="container mt-4 pt-4 text-center">
  <h1>BIENVENUE <%=@first_name %> ! Ici c'est notre super site de potins, il est chouette, non ? </h1>
  <META HTTP-EQUIV="refresh" CONTENT="3;URL=/">
</div>