<div class="container-fluid">
  <h1>City name : <%= @city.name %></h1>
  <div class="row p-3 m-4">
    <% @city.users.each do |u|%>

    <div class="card col-sm-12 col-md-4 col-lg-2 m-3 p-3" style="width: 18rem;">
      <div class="card-header">
        <%=u.first_name%>
      </div>
      <div class="card-body">
        <%u.gossips.each do |g|%>
        <p class="card-text"><%= link_to "#{g.title}", gossip_path("#{g.id}")%> </p>

        <%end%>
      </div>
    </div>

    <%end%>
  </div>
</div>
